@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

* {
    margin: 0
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8e1e7;
    height: 100vh;
    font-family: "Onest", sans-serif;
    animation: fadeIn 1s ease-in-out;
}

.app {
    margin-top: 50px;
    width: 60%;
    animation: slideDown 1s ease-in-out;
}

@media (max-width: 768px) {
    .app {
        width: 90%;
    }
}

.app h1 {
    color: white;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    border-radius: 1.5rem 1.5rem 0 0;
    background-color: #ff5d00;
    font-family: "Onest", sans-serif;
    animation: bounceIn 1s ease-in-out;
}

.app form {
    display: flex;
    width: 100%;
    background-color: #262e4c;
    justify-content: space-between;
}

.app form label {
    width: 90%;
}

.app form label input {
    border: none;
    background-color: #fef7ff;
    font-size: 18px;
    color: black;
    padding: 10px;
    width: 100%;
    height: 100%;
    outline: none;
}

.app form button {
    border: none;
    color: white;
    background-color: #37beb0;
    font-size: 25px;
    font-weight: 600;
    height: 42px;
    width: 10%;
    cursor: pointer;
}

.app ul {
    list-style: none;
    color: #e0e0e0;
    padding: 0;
    animation: listFadeIn 1s ease-in-out;
}

.app ul li {
    padding: 10px;
    background-color: #00478f;
    border-bottom: 1px solid #3a4674;
    animation: listItemFadeIn 0.5s ease-in-out;
}

.check {
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    -webkit-appearance: none;
}

.check:checked {
    background-color: #ff5d00;
    animation: checkAnimation 0.3s ease-in-out;
}

.task {
    font-size: 18px;
    padding: 0 10px;
    width: fit-content;
    background: transparent;
    border: none;
    color: #fff;
}

.task:focus {
    outline: none;
}

.app ul li i {
    float: right;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

.app ul li i:hover {
    color: rgb(255, 82, 82);
}

.completed {
    color: rgba(192, 192, 192, 0.8);
    text-decoration: line-through;
}

/* Keyframes for Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes listFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes listItemFadeIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes checkAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
